# JS
node_modules
yarn.lock

# Project files
CONTRIBUTING.md
CODE_OF_CONDUCT.md
README.md

# Config files
.babelrc
babel.config.js
.editorconfig
.eslintrc
.flowconfig
.watchmanconfig
jsconfig.json
.npmrc
.gitattributes
.circleci
*.coverage.json
.opensource
.circleci
.eslintignore
codecov.yml

# Example
example/

#ScreenShots
screenShots/

# Android
src/android/*/build/
src/android/gradlew
src/android/build
src/android/gradlew.bat
src/android/gradle/
src/android/com_crashlytics_export_strings.xml
src/android/local.properties
src/android/.gradle/
src/android/.signing/
src/android/.idea/gradle.xml
src/android/.idea/libraries/
src/android/.idea/workspace.xml
src/android/.idea/tasks.xml
src/android/.idea/.name
src/android/.idea/compiler.xml
src/android/.idea/copyright/profiles_settings.xml
src/android/.idea/encodings.xml
src/android/.idea/misc.xml
src/android/.idea/modules.xml
src/android/.idea/scopes/scope_settings.xml
src/android/.idea/vcs.xml
src/android/*.iml
src/android/.settings

# iOS
ios/*.xcodeproj/xcuserdata
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Misc
.DS_Store
.DS_Store?
*.DS_Store
coverage.android.json
coverage.ios.json
coverage
npm-debug.log
.github
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.dbandroid/gradle
docs
.idea
tests/
bin/test.js
codorials
.vscode
.nyc_output
.tmp